.div00 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

h1 {
    font-size: 30px;
    margin: 20px;
    background: linear-gradient(to right, #f10808, #6510db, #88f808);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    margin: 20px;
    animation: beat 2s infinite alternate;
}

ul {
    font-size: 20px;
    color: #f10808;
}



@keyframes beat {
    to,
    100% {
        transform: scale(1.2);
    }
}