
body {
    background-color: black;
}

.input {
    display: flex;
    justify-content: center;
    padding-top: 10em;
    
}

h1 {
    text-align: center;
    color: rgb(37, 210, 18);
}


form {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    border: 2px solid rgb(37, 210, 18);
    padding: 2em;
    filter: drop-shadow(5px 5px 5px rgb(33, 230, 50));
    background-color: rgb(6, 75, 12)
    
    
    
}

input, button {
    margin: 15px;
    background-color: aqua;
    border-radius: 5px;
    padding: 5px;
    
}


button {
    border: inherit;
    padding: 10px;
    
}

button:hover {
    animation:  rotate 2s;
    
}

@keyframes rotate {
    
    0% {
        transform: rotate(0deg)
    }


    100% {
        transform: rotate(360deg)
    }
}

 
